@font-face {
    font-family: CaviarDreams;
    src: url(fonts/CaviarDreams_Bold.ttf)
}

h3 {
    font-family: CaviarDreams;
    font-size:100px;
}


/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    background-color: black;
    margin-bottom: 0;
    border-radius: 0;
    font-size: larger;
}

body {
    background-color: black;
    color: rgb(234, 238, 238);
}

#container {
    background: #DDD;
    max-width: 1200px;
}

.item {
    width: 200px;
    float: left;
}

.item img {
    display: block;
    width: 100%;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #030303;
    padding: 25px;
}







.filter-button-group {
  padding: 15px;
}



.thumbnail {
  border-radius: 0px;
  border: 0px;
  padding: 0px;
}



a.pp_play,
a.pp_arrow_previous,
a.pp_arrow_next,
a.pp_close{
  display: none;
}

.pp_social { float: left; margin: 0; width:450px;}
.pp_social .twitter { float: left; width: 60px; }
.pp_social .facebook { float: left; margin-left: 15px; width: 80px; overflow: hidden;}

.pp_nav {
  margin-top: 0;
}