@font-face {
    font-family: CaviarDreams;
    src: url(fonts/CaviarDreams_Bold.ttf)
}

h1 {
    font-family: CaviarDreams;
    font-size:100px;
}



.navbar {
    background-color: black;
    margin-bottom: 0;
    border-radius: 0;
    font-size: larger;
}

body {
    background-color: black;
    color: rgb(234, 238, 238);
}

#container {
    background: #DDD;
    max-width: 1200px;
}

.item {
    width: 200px;
    float: left;
}

.item img {
    display: block;
    width: 100%;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #030303;
    padding: 25px;
}
